.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    margin: 5px;
}

.button-increment {
    background-color: #4CAF50;
}

.button-decrement {
    background-color: #f44336;
}

.button-ten {
    background-color: #008CBA;
}
