# Locally
# corepack enable && corepack prepare yarn@stable --activate && yarn install && yarn workspaces foreach -A run build && yarn workspaces foreach -A run test
name: Build and Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install latest Yarn
        run: corepack enable && corepack prepare yarn@stable --activate

      - name: Install dependencies
        run: yarn install

      - name: Build
        run: yarn workspaces foreach -A run build

      - name: Run tests
        run: yarn workspaces foreach -A run test
